/** 
Using BEM methodology for writing my CSS for more information about BEM, see the docs: 
http://getbem.com/naming/ 

i.e.

.block {}
.block--mod {}
.block__elem {}
.block__elem--mod { }
*/

:root {
  /* Skater Girl Theme */
  --hot-pink-light: hsl(338, 70%, 80%);
  --hot-pink: hsl(338, 70%, 65%); /* #e46795 */
  --hot-pink-strong: hsl(338, 70%, 50%);

  --lilac-light: hsl(284, 33%, 80%);
  --lilac: hsl(284, 33%, 69%); /* #bc96ca */
  --lilac-strong: hsl(284, 33%, 50%);

  --gold-light: hsl(43, 96%, 80%);
  --gold: hsl(43, 96%, 62%); /* #fbc641 */
  --gold-strong: hsl(43, 96%, 50%);

  --cyan-light: hsl(182, 58%, 80%);
  --cyan: hsl(182, 58%, 62%); /* #66d3d6 */
  --cyan-strong: hsl(182, 58%, 50%);

  --background-color: hsl(284, 33%, 80%, 0.3);
  --background-grid-color: hsl(284, 33%, 90%);

  --font-family: Sneak, Arial, Helvetica, sans-serif;
  --font-size: 1.25rem;
  --line-height: 1.75;

  --left-right-padding: 2rem;
  --header-title-scale: 5rem;
  --header-animation-delay: 0.3s;

  --color-text: #303030;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #fff;
  --color-link: var(--hot-pink-strong);
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

::selection {
  background-color: var(--hot-pink-strong);
  color: var(--color-white);
}

body {
  margin: 0;
  font: var(--font-size) / var(--line-height) var(--font-family);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
}

body.dark {
  --color-background: #22272e;
  --color-text: #fff;
  --color-link: var(--hot-pink);
}

a {
  color: var(--color-link);
}

a:hover,
a:active {
  text-decoration: none;
}

.bg--solid .text--primary {
  /* fallback text color */
  color: var(--hot-pink);
}

@media only screen and (max-width: 600px) {
  :root {
    --left-right-padding: 1rem;
    --header-title-scale: 2.5rem;
  }
}

.page-header {
  margin-bottom: 1rem;
}

.page-header__container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 var(--left-right-padding);
}

.page-header__link {
  color: var(--hot-pink);
  text-decoration: none;
}

.landing {
  padding: 60px 0;
}

.header {
  line-height: 1.2;
  max-width: 960px;
  position: relative;
  padding: 0 var(--left-right-padding);
  margin: 0 auto;
}

.header .header__title,
.page-header .text--primary {
  --x: 0px;
  --y: 0px;
  --step: 1px;

  max-width: 65%;
  margin: 1.2rem 0;
  position: relative;
  display: inline-block;
  font-size: clamp(2.5rem, 0.625rem + 8.3333vw, 5rem);
  font-weight: 800;
  text-transform: uppercase;
  color: transparent;
  flex: 1;

  text-shadow: var(--x) var(--y) var(--cyan-strong),
    calc(var(--x) + var(--step)) calc(var(--y) + var(--step)) var(--hot-pink),
    calc(var(--x) + var(--step) * 2) calc(var(--y) + var(--step) * 2)
      var(--hot-pink),
    calc(var(--x) + var(--step) * 3) calc(var(--y) + var(--step) * 3)
      var(--hot-pink),
    calc(var(--x) + var(--step) * 4) calc(var(--y) + var(--step) * 4)
      var(--hot-pink),
    calc(var(--x) + var(--step) * 5) calc(var(--y) + var(--step) * 5)
      var(--hot-pink),
    calc(var(--x) + var(--step) * 6) calc(var(--y) + var(--step) * 6)
      var(--hot-pink),
    calc(var(--x) + var(--step) * 7) calc(var(--y) + var(--step) * 7)
      var(--hot-pink);
}

.header span {
  display: block;
  white-space: nowrap;
}

.page-header .text--primary {
  --step: 0.35px;
  font-size: 1.2rem;
}

.nineties-party {
  max-width: 35%;
  position: absolute;
  top: 3rem;
  right: 0;
}

@media only screen and (max-width: 700px) {
  .nineties-party {
    max-width: 35%;
    top: 0;
  }

  .nineties-party svg {
    height: 150px;
  }
}

.avatar {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  -webkit-shape-outside: circle(50%);
  shape-outside: circle(50%);
  /* position: relative; */
  overflow: hidden;
}

/* .avatar svg {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
} */

/* .avatar:hover svg {
  opacity: 1;
} */

.featured-list {
  margin-top: 45px;
}

.featured-list__title {
  margin-bottom: 40px;
}

.featured-list__itemHeader h3 {
  margin: 10px 0 10px;
}

.featured-list__item-link {
  color: var(--color-text);
  text-decoration: none;
}

.featured-list__item-link:hover > .featured-list__item-link__text {
  background: linear-gradient(
    135deg,
    var(--cyan-strong),
    var(--hot-pink-strong)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.featured-list__item-link:hover > .featured-list__item-link__arrow {
  color: var(--hot-pink-strong);
  transform: translateX(10px);
}

.featured-list__item-link__arrow {
  display: inline-block;
  margin-left: 10px;
  transition: ease-out 0.3s color, ease-out 0.3s transform;
}

.footer {
  max-width: 960px;
  margin: 10px auto;
  padding: var(--left-right-padding);
  text-align: center;
}

.footer__link {
  color: var(--text-color);
  margin: 0 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer__link {
    font-size: 0.8rem;
  }
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__text {
  text-align: right;
  margin-left: 10px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .footer__text {
    display: block;
    margin-top: 10px;
  }
}

.footer__text-link {
  color: var(--text-color);
}

.blog-post {
  animation: ease-out 0.5s forwards fade-in;
  margin-bottom: 60px;
}

.blog-post .time-to-read {
  display: block;
  font-size: 0.95rem;
  margin: 15px 0;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .blog-post {
    animation: none;
  }
}

.blog-post p {
  margin: 0 0 1.45rem;
  padding: 0;
}

.blog-post li {
  margin-bottom: 0.725rem;
}

/* inline code */
.blog-post :not(pre) > code[class*="language-"] {
  padding: 0.3rem;
  white-space: normal;
}

.blog-post :not(pre) > code[class*="language-"],
.blog-post pre > code[class*="language-"] {
  font-size: 1rem;
}

.blog-post blockquote {
  border-left: 4px solid var(--cyan);
  padding-left: 1rem;
  margin: 0 1.45rem 1.45rem;
}

.blog-post .gatsby-highlight + blockquote {
  margin-top: 1.45rem;
}

/* gatsby-remark-prismjs */
.gatsby-highlight {
  background: #111b27;
  border-radius: 10px;
  margin: 0.75rem 0;
  overflow: auto;
}

.tags {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags__tag {
  border: 2px solid;
  /* border-color: attr(data-color); */
  border-radius: 4px;
  margin: 0 10px 5px 0;
  padding: 0 5px;
  font-size: 0.8rem;
  align-self: start;
}

.tags__tag::before {
  content: "#";
}

.tags__tag.tags__tag--javascript {
  border-color: #f0db4f;
}

.tags__tag.tags__tag--typescript {
  border-color: #007acc;
}

.tags__tag.tags__tag--html {
  border-color: #f16529;
}

.tags__tag.tags__tag--css {
  border-color: #3c99dc;
}
