/** 
Using BEM methodology for writing my CSS for more information about BEM, see the docs: 
http://getbem.com/naming/ 

i.e.

.block {}
.block--mod {}
.block__elem {}
.block__elem--mod { }
*/

/* html {
  background-color: #2f3436;
} */

:root {
  --color-primary: #4fb3ad;
  --color-gradient-a: #4fb3ad;
  --color-gradient-b: #ff8aee;
  --left-right-padding: 40px;
}

a {
  color: var(--color-primary);
}

a:hover,
a:active {
  text-decoration: none;
}

.bg--solid .text--primary {
  /* fallback text color */
  color: var(--color-primary);
}

.bg--clip-text .text--primary {
  /* if we can clip text, do it */
  background: linear-gradient(
    135deg,
    var(--color-gradient-a),
    var(--color-gradient-b)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 600px) {
  :root {
    --left-right-padding: 20px;
  }
}

.layout {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 var(--left-right-padding);
}

.page-header {
  margin-bottom: 3rem;
}

.page-header__container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1.45rem var(--left-right-padding);
}

.page-header__link {
  color: var(--color-primary);
  text-decoration: none;
}

.landing {
  padding: 60px 0;
}

.header {
  background-color: #e2e2e2;
  background-size: contain;
  background-position: bottom right;
}

.header__container {
  max-width: 960px;
  padding: 60px var(--left-right-padding);
  margin: 0 auto;
}

.header__title {
  font-size: 6rem;
  color: transparent;
  display: inline-block;
  will-change: transform;

  transition: color 0.5 ease-in;
}

@media only screen and (max-width: 600px) {
  .header__title {
    font-size: 2.5rem;
  }
}

.header__title--name {
  --move: 30px;
  margin: 0;
  animation: 0.8s ease-out 0.8s forwards move-title;
}

.header__title--lastname {
  --move: 60px;
  animation: 0.8s ease-out 1s forwards move-title;
}

.header__title--lastname::after {
  content: " ";
}

@media (prefers-reduced-motion: reduce) {
  .header__title--name,
  .header__title--lastname {
    animation: none;
  }
}

@keyframes move-title {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--move));
  }
}

.landing__abstract {
}

.skill {
  display: inline-block;
  padding: 6px;
  /* border: 2px solid; */
  border-radius: 4px;
  margin: 0 5px;
  font-size: 0.8rem;
}

.skill--js {
  /* border-color: #f0db4f; */
}

.skill--html {
  /* border-color: #f16529; */
}

.skill--css {
  /* border-color: #3c99dc; */
}

.featured-list {
  margin-top: 45px;
}

.featured-list__item-link {
  color: var(--color-text);
  text-decoration: none;
}

.featured-list__item-link:hover > .featured-list__item-link__text {
  background: linear-gradient(
    135deg,
    var(--color-gradient-a),
    var(--color-gradient-b)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.featured-list__item-link:hover > .featured-list__item-link__arrow {
  color: var(--color-gradient-b);
  transform: translateX(10px);
}

.featured-list__item-link__arrow {
  display: inline-block;
  margin-left: 10px;
  transition: ease-out 0.3s color, ease-out 0.3s transform;
}

.footer {
  text-align: right;
  margin: 10px 0 20px;
}

.footer__link {
  color: var(--text-color);
  margin: 0 10px;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {
  .footer__link {
    font-size: 0.8rem;
  }
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__text {
  text-align: right;
  margin-left: 10px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 600px) {
  .footer__text {
    display: block;
    margin-top: 10px;
  }
}

.footer__text-link {
  color: var(--text-color);
}

.blog-post {
  animation: ease-out 0.5s forwards fade-in;
  margin-bottom: 60px;
}

@keyframes fade-in {
  from {
    transform: translateY(20px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .blog-post {
    animation: none;
  }
}

/* inline code */
.blog-post :not(pre) > code[class*="language-"] {
  padding: 0.15em 0.2em;
  white-space: normal;
}

.blog-post :not(pre) > code[class*="language-"],
.blog-post pre > code[class*="language-"] {
  font-size: 1.1rem;
}

/* gatsby-remark-prismjs */

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #2d2d2d;
  border-radius: 0.3em;
  margin: 0.5em 0;
  padding: 1em;
  overflow: auto;
}

/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.gatsby-highlight-code-line {
  background-color: hsl(0, 0%, 28%);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid var(--color-primary);
}
