.card {
  height: 100%;
  border: 3px solid var(--cyan);
  padding: 1rem;
  position: relative;
}

.card::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid var(--lilac);
  position: absolute;
  top: -8px;
  left: -8px;
  transition: top, left 0.1s ease-in-out;
}

.card:hover::before {
  top: -6px;
  left: -6px;
}

.card-header {
  margin-bottom: 1rem;
}

.card-header h3 {
  margin-bottom: 0.5rem;
}
